<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030560001096-tbgbj0265gvivb3aj56koe90np3mgq79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030560001096-tbgbj0265gvivb3aj56koe90np3mgq79</string>
	<key>API_KEY</key>
	<string>AIzaSyD_s8l9esOs3ov50tUcsiVNyyMn4_avA20</string>
	<key>GCM_SENDER_ID</key>
	<string>1030560001096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuth1</string>
	<key>PROJECT_ID</key>
	<string>auth-1c63b</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-1c63b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030560001096:ios:17bf27e622c214524b7c7d</string>
</dict>
</plist>